<div class="content">
  <button>
    <div class="profile-picture"><p class="first-nickname-letter">N</p></div>
  </button>
  <div class="names">
    <h1 class="nickname">Nickname</h1>
    <h2 class="full-name">name-surname</h2>
  </div>
  <div class="location">
    <ion-icon class="location-icon" name="location-outline"></ion-icon>
    <h1 class="city">Wroclaw, dolnoslaskie</h1>
  </div>
  <div class="border-one"></div>
  <button>
    <div class="your-cars-button"><p class="your-cars-text">Your Cars</p></div>
  </button>
  <div class="border-two"></div>
  <div class="your-posts"><h1 class="your-posts-text">Your posts</h1></div>
  <button>
    <div class="ended-posts">
      <p class="ended-text">Ended</p>
      <ion-icon class="arrow-right" name="arrow-forward-outline"></ion-icon>
    </div>
  </button>
  <button>
    <div class="pending-posts">
      <p class="pending-text">Pending</p>
      <ion-icon class="arrow-right" name="arrow-forward-outline"></ion-icon>
    </div>
  </button>
  <div class="border-three"></div>
  <div class="information"><h1 class="information-text">Information</h1></div>
  <button>
    <div class="help">
      <p class="help-text">Help</p>
      <ion-icon class="arrow-right" name="arrow-forward-outline"></ion-icon>
    </div>
  </button>
  <button>
    <div class="regulations">
      <p class="regulations-text">Regulations</p>
      <ion-icon class="arrow-right" name="arrow-forward-outline"></ion-icon>
    </div>
  </button>
  <button>
    <div class="about">
      <p class="about-text">About</p>
      <ion-icon class="arrow-right" name="arrow-forward-outline"></ion-icon>
    </div>
  </button>
  <button>
    <div class="log-out-button"><p class="log-out-text">Log Out</p></div>
  </button>
</div>

<div class="content"></div>
<footer class="footer">
  <app-navbar></app-navbar>
</footer>
