<div class="content">
  <li *ngFor="let post of postsArray">
    <div class="post">
      <div class="profile-picture"><p class="first-nickname-letter">N</p></div>
      <div class="data">
        <h2 class="full-name">name-surname</h2>
        <div class="time">
          <ion-icon class="time-icon" name="time-outline"></ion-icon>
          <p class="hours-count">1h</p>
        </div>
      </div>
      <button>
        <div class="get-location-button">
          <p class="get-location-text">Get Location</p>
        </div>
      </button>
    </div>
  </li>
</div>
